@model Files.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TextReview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextReview)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HostComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HostComments)
        </dd>
        @if (User.IsInRole("Admin"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DisputeStatus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DisputeStatus)
            </dd>
        }
        @if (User.IsInRole("Host"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DisputeStatus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DisputeStatus)
            </dd>
        }
    </dl>
</div>

@if (ViewData["AverageRating"] != null)
{
    <p>
        <strong>Average Guest Rating:</strong> @ViewData["AverageRating"] out of 5
    </p>
}
else
{
    <p>
        <strong>Average Guest Rating:</strong> No reviews yet.
    </p>
}

@if (User.IsInRole("Host"))
{
    <div>
        <a asp-action="HostDispute" asp-route-propertyId="@ViewData["PropertyId"]"style="color: #CC5500;">
            Dispute Reviews
        </a>
        
    </div>
}

@if (User.IsInRole("Admin"))
{
    <div>

        <a asp-action="HostDispute" style="color: #CC5500;">Dispute</a>
    </div>
}

<div>
    <a asp-action="Index" style="color: #CC5500;">Back to List</a>
</div>

