@model IEnumerable<Files.Models.Review>

@{
    ViewData["Title"] = "Property Reviews";
}

<h1>Property Reviews</h1>

<p>
    <a asp-action="Create" asp-controller="Reviews" style="color: #CC5500;">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextReview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisputeStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextReview)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HostComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisputeStatus)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ReviewID" style="color: #CC5500;">Details</a>
                </td>

            </tr>
        }
    </tbody>
</table>
